/* these are some of the things that I thought about and found in other frame works, we do not have to do all of them, its just to give us an idea and a starting point */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

/***
    The End of reset 
***/
/* base font sizes, headings 1-6, utility classes for font size, weights, colours, line height, font families */
body {
  font-family: "Patrick Hand", serif;
  font-weight: 400;
  font-size: 1rem;
}

h1 {
  font-family: "Indie Flower", serif;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-family: "Indie Flower", serif;
  font-weight: 600;
  font-size: 1.5rem;
}

h3 {
  font-family: "Indie Flower", serif;
  font-weight: 600;
  font-size: 1.25rem;
}

h4 {
  font-family: "Indie Flower", serif;
  font-weight: 500;
  font-size: 1rem;
}

h5 {
  font-family: "Indie Flower", serif;
  font-weight: 500;
  font-size: 0.875rem;
}

h6 {
  font-family: "Indie Flower", serif;
  font-weight: 400;
  font-size: 0.875rem;
}

p {
  font-family: "Patrick Hand", serif;
  font-weight: 400;
  font-size: 1rem;
}

small {
  font-family: "Patrick Hand", serif;
  font-weight: 300;
  font-size: 0.875rem;
}

strong {
  font-family: "Patrick Hand", serif;
  font-weight: 700;
  font-size: 1rem;
}

/* flex box or css grid, container, row and colum classes, margin, padding,  */
/* spacing, text alignment, dislpay properties, border-radius, border */
/* define breakpoints mobile and desktop */
/* cards, modals, alerts, nav bar, hero banner, etc. 
Buttons - primary, secodary, and outline buttons 
Forms - input fields,labels, checkboxes, dropdowns, lists, tables
*/
/* hover effects and smooth transitions */
/* define variables for light/dark or different color schemes */
/* foucs states, ARIA attributes */

/*# sourceMappingURL=stylish.css.map */
