// typography
$heading-font: "Indie Flower", serif;
$body-font: "Patrick Hand", serif;

// font weights
$font-weight-ultralight: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// font size
$font-size-xsmall: 0.75rem;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem; 

//colors 
$theme: (
    "light":      #d0e2ff,
    "dark":       #e7c8f9,
    "primary":    #353165,
    "secondary":  #466cba,
    "info":       #7685f8,
    "success":    #119f5e,
    "warning":    #dfca12,
    "danger":     #ec2207,
    "white": #fff,
);

//base styles 
$list-ul: circle;
$list-ol: disc;
$border-radius: 6px;

// Utility Classes
$rounded: (
    "sm": 6px,
    "md": 14px,
    "lg": 20px,
    "full": 50%,
);