// typography
$heading-font: "Indie Flower", serif;
$body-font: "Patrick Hand", serif;

// font weights
$font-weight-ultralight: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// font size
$font-size-xsmall: 0.75rem;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem; 

//colors 
$theme: (
    "primary":#514765,
    "secondary":#8c5e8f,
    "info": #e68d96,
    "success": #27ac6c,
    "warning": #e1cf25,
    "danger": #ef2d13,
    "dark": #b07395,
    "light": #e0d6b7,
    "white": #fff,
)